<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Negocio Brian
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Negocio Brian</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item [navPush]="productos">
      <ion-avatar slot="start">
      <ion-img src="https://www.foodnewslatam.com/images/stories/2021/MAYO/ecoetiquetado.jpg"></ion-img>
      </ion-avatar>
      <ion-label>Productos</ion-label>
    </ion-item>
  </ion-list>

 
</ion-content>
